<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Blog Post</label>
      <input id="post-url" name="post-url"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      <article class="post">
      <h3 class="meta username">
        {{post.user.username}} said: 
      </h3>
      <div class="title">
        <a href="/post/{{post.id}}" target="_blank">{{post.title}}</a>
        <br>
        <span>{{post.post_url}}</span>
      </div>
      <div class="meta date">
        on {{post.created_at}}
        {{!-- <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a> --}}
      </div>
    </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    <br>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
