{{!-- gives use access to post data --}}
{{!-- {{ post }} --}}
{{!-- the post --}}
<article class="post">
      <h3 class="meta username">
        {{post.user.username}} said: 
      </h3>
      <div class="title">
        <a href="/post/{{post.id}}" target="_blank">{{post.title}}</a>
        <br>
        <span>{{post.post_url}}</span>
      </div>
      <div class="meta date">
        on {{post.created_at}}
        {{!-- <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a> --}}
      </div>
</article>
<br>

{{!-- add comments form --}}
{{#if loggedIn}}
<form class="comment-form">
    <h2>Hey {{ username }}, add a comment!</h2>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{!-- displays comments --}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}